<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<%= render 'search_form', search_params: @search_params %>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>School Email</th>
      <th>Major</th>
      <th>Graduation Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school_email %></td>
        <td><%= student.major %></td>
        <td><%= student.expected_graduation_date %></td>
        <td>
          <%= link_to "Show", student_path(student), class: "btn btn-info" %>
          <%= link_to "Edit", edit_student_path(student), class: "btn btn-warning" %>
          <%= link_to "Delete", student, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New student", new_student_path %>
